
<html ng-app="mzk">
	{% load static %}
	<head>
		<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css">
		<link href="/static/css/profile.css" rel="stylesheet" type="text/css">

		

		<script type="text/javascript" src="/static/lib/angular.js"></script>
		<script type="text/javascript" src="{% static 'js/app.js' %}"></script>
		<script type="text/javascript" src="/static/lib/ui-bootstrap-0.9.0.min.js"></script>
		<script type="text/javascript" src="/static/lib/ui-bootstrap-tpls-0.9.0.min.js"></script>
	</head>
	<body>
		<div class="container">
			<nav class="navbar navbar-default" role="navigation">

				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<img src="{% static 'images/mzk.png' %}" class = "navbar-brand" width="70%">
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				    <ul class="nav navbar-nav navbar-right">
				      <li><a href="#">BreakFast</a></li>
				      <li><a href="#">Meals</a></li>
				    </ul>
				</div>      
			</nav>		
		</div>

		<title>{{ kitchen.name }}'s Kitchen</title>
		
		<div class="container">
			{% block content %}{% endblock %}	
		</div>
		
	</body>
</html>