{% extends "base.html" %}
{% block content %}
	<div class="row">
		
		<div class="col-sm-6 col-xs-0">
			<carousel interval=500>
				<slide>
					{% for picture in pictures %}
						{% ifequal picture.pic_category.name "food" %}

							<div class="row">
								<img src="/media/{{ picture.photo }}"/>
							</div>
						{% endifequal %}
						
					{% endfor %}
				</slide>
			</carousel>	
		</div>
		
		

		<div class="col-sm-6 col-xs-12">
			<div class="row">
				<div class="col-xs-2" style="padding-right:0"><img src="/media/{{kitchen.id}}/profile/profile.jpg" class="img-responsive"></div>
				<div class="col-xs-10"><h3>{{ kitchen.name }}'s Kitchen</h3></div>
			</div>
			<div class="row">
				<div class="col-xs-3"><p><br/><b>Location</b></p></div>
				<div class="col-xs-9"><p><br/>{{ kitchen.spec_location }}</p></div>

			</div>
			<div class="row">
				<div class="col-xs-12"><p><b>Description:</b></p></div>
				<div class="col-xs-12"><p>{{ kitchen.description }}</p></div>	
			</div>
			<div class="row">
				<div class="col-sm-3"><p><b>Popular Food</b></p></div>
				<div class="col-sm-9"><p>{{ kitchen.pop_food }}</p></div>
			</div>
			<div class="row">
				<div class="col-xs-12"><p><b>Food Delivery Timings</b></p></div>	
				{% for elem in kitchen.fooddelivery.all %}
					<div class="col-xs-4"><p>{{ elem.name }}</p></div>
					<div class="col-xs-4"><p>{{ elem.start_time }}</p></div>
					<div class="col-xs-4"><p>{{ elem.end_time }}</p></div>
				{% endfor %}

			</div>
			<div class="row">
				<div class="col-md-offset-8 col-md-4"><button class="order-btn">Order</button></div>
			</div>
		</div>

	</div>

	
{% endblock %}
